<div class="jumbotron center">
	<div class="text-primary">
		<h1>About Us</h1>
	</div>	
		<p>We are working on our pinteresting app</p>
</div>

<div class="well center">
	<p><em>Pellentesque ornare aliquet velit, at gravida orci volutpat eget. Praesent cursus libero id vehicula molestie. Nam sit amet tellus justo. Nullam vulputate viverra enim, id gravida urna vehicula non. Donec pharetra lectus felis, quis gravida nunc sollicitudin id. Nullam eu justo auctor, rutrum lacus quis, suscipit velit. Morbi tempor congue consequat. Proin suscipit metus purus. Fusce pretium mattis ligula in elementum. Duis tortor nisl, auctor iaculis consequat quis, egestas ut lorem. Aenean ac placerat sem, id luctus justo. Duis interdum accumsan convallis.</em></p>

	<p><em>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras posuere eu mauris ac mattis. Donec condimentum vehicula magna vel condimentum. Fusce facilisis lorem ac dignissim dictum. Aenean ultricies mauris in quam varius mollis. In adipiscing blandit orci eu condimentum. Ut non varius urna. Duis ullamcorper nec velit eget convallis. Morbi rutrum rhoncus purus, et tincidunt urna rutrum ac. Curabitur eu iaculis est. Nulla placerat nulla diam, sit amet posuere lorem porta ac. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed sollicitudin felis est.</em></p>
</div>