<div class="jumbotron center">
	<h1>Welcome to my app!</h1>
		<% unless user_signed_in? %>
		 	<div class="btn-group center">
		 		<%= link_to "Sign In", new_user_session_path, class: "btn btn-default btn-lg" %> 
		 		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>	 		
		 	</div>
		<% else %>
		 	<%= image_tag "fenrir.jpg",  class: "img-rounded img-responsive center" %>
		<% end %> 	
</div>

<div class="row center">
	<div class="col-sm-4">
		<div class="well">
			<h3>My Home Page!</h3>
			<p>Vivamus non orci eu quam interdum sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget sapien dolor. Praesent interdum risus justo, blandit pellentesque libero sagittis et. Cras eget sapien ullamcorper, ullamcorper eros non, venenatis nunc. Etiam lectus ipsum, aliquet quis eros sit amet, elementum auctor nisi. Donec at pulvinar nisi. Donec interdum ipsum non metus consequat tempus. Donec ac nibh eget orci volutpat eleifend quis et mi. Quisque quis tellus eget orci vulputate.
			</p>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="well">
			<h3>My About Page!</h3>
			<p> Quisque aliquam velit sed dolor volutpat sagittis. Duis lorem dolor, vulputate et dignissim vel, auctor vitae eros. Donec quis tempor purus, nec gravida tellus. Phasellus sagittis libero lectus. Aliquam faucibus, nisi ut sodales pulvinar, velit ligula feugiat metus, vel molestie mauris dolor eget dolor. In hac habitasse platea dictumst. Aliquam erat volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. In ut felis porta, viverra nisi nec, molestie ipsum. Etiam eros nisi, adipiscing.</p>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="well">
			<h3>My Test Page!</h3>
			<p>Duis ac fringilla nibh, sed vehicula enim. Phasellus facilisis lorem sit amet bibendum feugiat. Praesent diam tellus, sagittis eget magna at, elementum dignissim neque. In commodo, odio quis vestibulum auctor, diam nibh venenatis velit, ac malesuada libero dui nec dui. Vivamus non dolor convallis, pellentesque enim nec, cursus orci. Fusce posuere facilisis nisl tristique scelerisque. Donec vehicula dignissim ipsum, vitae consequat libero placerat vel. Maecenas eleifend, metus in dignissim consectetur, odio mauris iaculis magna, at. ZSome more bullshuit text thast will make this ev en longer and my rtpos are ridiculous</p>
		</div>
	</div>
</div>