<div class="jumbotron center">
	<h1>Just a Pretty Page!</h1>
	<p>Just testing out the page editor!</p>
</div>
<div class="input-group">
  <span class="input-group-addon">Name</span>
  <input type="text" class="form-control" placeholder="Username">
</div>
<div class="input-group">
  <span class="input-group-addon">Email</span>
  <input type="text" class="form-control" placeholder="Email Address">
</div>